{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}folder screen{% endblock %}</h1>
  <a href="{{ url_for('create.createfolder') }}">Create Folder</a>
{% endblock %}

{% block content %}
<div class="folder-list">
  {% for foldername in folders %}
    <div class="folder-item">
      <style>
        .folder-icon{
          width: 50px;
          height: auto;
        }
        </style>
      <img src="{{ url_for('static', filename='images/folder_icon.png') }}" alt="Icon" class="folder-icon">
      <p>{{ foldername['name'] }}</p>
    </div>
  {% else %}
    <p>No folders available.</p>
  {% endfor %}
</div>
{% endblock %}
