{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Home Screen{% endblock %}</h1>
  <a href="{{ url_for('create.create_folder') }}">Create Folder</a>
{% endblock %}

{% block content %}
<ul>

  <li>
    <form action="{{ url_for('create.create_folder') }}" method="POST" enctype="multipart/form-data">
      <label for="file-upload" class="choose-file-btn">Upload File</label>
      <input type="file" id="file-upload" name="file">
      <button type="submit">Upload</button>
    </form>
  </li>
</ul>

<div class="folder-list">
  {% for foldername in folders %}
    <div class="folder-item">
      <style>
        .folder-icon{
          width: 50px;
          height: auto;
        }
        </style>
        <a href="{{ url_for('home.subfolder')}}">
      <img src="{{ url_for('static', filename='images/folder_icon.png') }}" alt="Icon" class="folder-icon">
    </a>
      <p>{{ foldername['name']}}</p>
    </div>
  {% else %}
    <p>No folders available.</p>
  {% endfor %}
</div>
{% endblock %}
