{% extends 'base.html' %}

{% block header %}
<ul>
  {{folder_id}}
  <a href="{{ url_for('create.create_child_folder',folder_id=folder_id,subfolder=subfolder) }}">Create Folder</a>
  <form action="{{ url_for('create.create_child_folder',folder_id=folder_id)}}" method="POST" enctype="multipart/form-data">
</ul>
{% endblock %}
{% block content %}

<div class="folder-list">
  {% if subfolders %}
    {% for subfolder in subfolders %}
      <div class="folder-item">
        <a href="{{ url_for('home.subfolder',folder_id=folder_id) }}">
          <img src="{{ url_for('static', filename='images/folder_icon.png') }}" alt="Folder Icon" class="folder-icon">
          {{subfolder['name']}}
          {{subfolder['folder_id']}}
        </a>
      </div>
    {% endfor %}
  {% else %}
    <p>No folders available.</p>
  {% endif %}

  {% if files %}
    {% for file in files %}
      <div class="item">
        <a>
          <img src="{{ url_for('static', filename='images/google-docs.png') }}" alt="File Icon" class="folder-icon">
          {{ file['name'] }}
        </a>
    {% endfor %}
  {% else %}
    <p>No files available.</p>
  {% endif %}

</div>
<style>
  .folder-icon {
    width: 50px;
    height: auto;
  }
</style>
{% endblock %}
