{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}folder{% endblock %}</h1>
  {% if folders %}
  {% for folder in folders %}
  <h1>{{ folder['name'] }}</h1>
  <a href="{{ url_for('create.create_child_folder', folder_id=folder['folder_id']) }}">Create Folder</a>
  <form action="{{ url_for('create.create_folder',folder_id=folder['folder_id']) }}" method="POST" enctype="multipart/form-data">
    <p>{{ folder['folder_id'] }}</p>
  </div>
{% endfor %}
{% else %}
<p>No folders available.</p>
{% endif %}
{% endblock %}
